@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para itens ativos */
.sidebar-item.active {
  background-color: #1c3657 !important; /* bg-gray-200 */
  color: #ffffff; /* text-gray-800 */
}

.dark .sidebar-item.active {
  background-color: #4a5568 !important; /* bg-gray-600 */
  color: #edf2f7; /* text-gray-100 */
}
